{% extends "base.html" %}

{% block title %}Profit Report{% endblock %}

{% block content %}

<div class="container mt-5">

<h2>

💰 Profit Analysis

</h2>

<a
href="{{ url_for('profit.add') }}"
class="btn btn-success mb-3">

+ Add Record

</a>

<div class="row mb-4">

    <div class="col-md-4">

        <div class="card bg-success text-white shadow">

            <div class="card-body text-center">

                <h5>Total Income</h5>

                <h2>₹ {{ total_income }}</h2>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card bg-danger text-white shadow">

            <div class="card-body text-center">

                <h5>Total Expense</h5>

                <h2>₹ {{ total_expense }}</h2>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card bg-primary text-white shadow">

            <div class="card-body text-center">

                <h5>Total Profit</h5>

                <h2>₹ {{ total_profit }}</h2>

            </div>

        </div>

    </div>

</div>

<table class="table table-bordered">

<thead class="table-success">

<tr>

<th>Crop</th>

<th>Production</th>

<th>Expense</th>

<th>Income</th>

<th>Profit</th>

</tr>

</thead>
<a
href="/report/profit"
class="btn btn-primary mb-3">

📄 Download PDF

</a>

<tbody>

{% for r in records %}

<tr>

<td>{{ r.crop }}</td>

<td>{{ r.quantity }}</td>

<td>₹{{ r.expense }}</td>

<td>₹{{ r.income }}</td>

<td>

{% if r.profit >= 0 %}

<span class="text-success">

₹{{ r.profit }}

</span>

{% else %}

<span class="text-danger">

₹{{ r.profit }}

</span>

{% endif %}

</td>

</tr>

{% else %}

<tr>

<td colspan="5" class="text-center">

No Records Found

</td>

</tr>

{% endfor %}

</tbody>

</table>

<hr>

<div class="card shadow mt-4">

    <div class="card-header bg-dark text-white">

        <h5>

            📊 Profit Analytics

        </h5>

    </div>

    <div class="card-body">

        <canvas id="profitChart"></canvas>

    </div>

</div>

</div>

<script>

const ctx = document.getElementById("profitChart");

new Chart(ctx,{

type:"bar",

data:{

labels:[

{% for r in records %}

"{{ r.crop }}",

{% endfor %}

],

datasets:[

{

label:"Income",

data:[

{% for r in records %}

{{ r.income }},

{% endfor %}

]

},

{

label:"Expense",

data:[

{% for r in records %}

{{ r.expense }},

{% endfor %}

]

},

{

label:"Profit",

data:[

{% for r in records %}

{{ r.profit }},

{% endfor %}

]

}

]

}

});

</script>

{% endblock %}