# Copy this to .env and fill in your values
FLASK_ENV=development

SECRET_KEY=6d8b0e2a7c5f4d1e9b8c3a2f6d7e8a1b4c5d6e7f8a9b0c1d2e3f4a5b6c7d8e9

MONGO_URI=mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@cluster0.k67dodz.mongodb.net/?appName=Cluster0
MONGO_DB_NAME=crop_advisory_db

OPENWEATHER_API_KEY=YOUR_OPENWEATHER_API_KEY

UPLOAD_FOLDER=app/static/uploads
