{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

<h2>💰 Farm Expense Tracker</h2>

<form method="POST" action="/expense/add">

<input
name="title"
class="form-control mb-2"
placeholder="Expense Name">

<input
name="amount"
class="form-control mb-2"
placeholder="Amount">

<select
name="category"
class="form-control mb-2">

<option value="Seeds">🌱 Seeds</option>

<option value="Fertilizer">🧪 Fertilizer</option>

<option value="Pesticide">🦠 Pesticide</option>

<option value="Labor">👨‍🌾 Labor</option>

<option value="Machinery">🚜 Machinery</option>

<option value="Transport">🚚 Transport</option>

<option value="Irrigation">💧 Irrigation</option>

<option value="Other">📦 Other</option>

</select>

<input
type="date"
name="date"
class="form-control mb-2"
required>

<button class="btn btn-success">

Add Expense

</button>

</form>

<hr>

<div class="row">

    <div class="col-md-4 mb-3">

        <div class="card bg-danger text-white shadow">

            <div class="card-body text-center">

                <h5>Total Expense</h5>

                <h2>₹ {{ total }}</h2>

            </div>

        </div>

    </div>

    <div class="col-md-4 mb-3">

        <div class="card bg-success text-white shadow">

            <div class="card-body text-center">

                <h5>Total Records</h5>

                <h2>{{ expenses|length }}</h2>

            </div>

        </div>

    </div>

    <div class="col-md-4 mb-3">

        <div class="card bg-primary text-white shadow">

            <div class="card-body text-center">

                <h5>Average Expense</h5>

                <h2>

                    {% if expenses %}

                        ₹ {{ (total / expenses|length)|round(2) }}

                    {% else %}

                        ₹ 0

                    {% endif %}

                </h2>

            </div>

        </div>

    </div>

</div>

<table class="table table-bordered table-hover">

<thead class="table-success">

<tr>

<th>#</th>

<th>Expense</th>

<th>Category</th>

<th>Date</th>

<th>Amount</th>

</tr>

</thead>

<tbody>

{% for e in expenses %}

<tr>

<td>{{ loop.index }}</td>

<td>{{ e.title }}</td>

<td>{{ e.category }}</td>

<td>{{ e.date }}</td>

<td>₹ {{ e.amount }}</td>

</tr>

{% endfor %}

</tbody>

</table>
<hr>

<div class="card shadow mt-4">

    <div class="card-header bg-dark text-white">

        <h5>
            📊 Expense Overview
        </h5>

    </div>

    <div class="card-body">

        <canvas id="expenseChart"></canvas>

    </div>

</div>

</div>

labels: [

{% for category in category_totals.keys() %}

"{{ category }}",

{% endfor %}

],

datasets:[{

label:"Expense",

data:[

{% for amount in category_totals.values() %}

{{ amount }},

{% endfor %}

]

}]
{% endblock %}