{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

<h2>Expert Profile</h2>

<form>

<div class="mb-3">
<label>Name</label>
<input class="form-control">
</div>

<div class="mb-3">
<label>District</label>
<input class="form-control">
</div>

<div class="mb-3">
<label>Specialization</label>
<input class="form-control">
</div>

<div class="mb-3">
<label>Phone</label>
<input class="form-control">
</div>

<div class="mb-3">
<label>Email</label>
<input class="form-control">
</div>

<button class="btn btn-success">
Save
</button>

</form>

</div>

{% endblock %}