{% extends "base.html" %}

{% block title %}
Market Prices
{% endblock %}

{% block content %}

<div class="container mt-5">

<h2 class="text-success">

📈 Live Market Prices

</h2>

<div class="card shadow">

<div class="card-body">

<table class="table table-hover">

<thead class="table-success">

<tr>

<th>Crop</th>

<th>Market</th>

<th>Today's Price</th>

</tr>

</thead>

<tbody>

{% for item in prices %}

<tr>

<td>{{ item.crop }}</td>

<td>{{ item.market }}</td>

<td>{{ item.price }}</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>

</div>

{% endblock %}