{% extends "base.html" %}

{% block title %}
USSD
{% endblock %}

{% block content %}

<div class="container mt-5">

<div class="card shadow">

<div class="card-header bg-success text-white">

<h3>

📱 Offline USSD Service

</h3>

</div>

<div class="card-body">

<h4>

Dial

</h4>

<h1 class="text-success">

*121*OD#

</h1>

<hr>

<h5>

Menu

</h5>

<ul>

<li>1 Crop Advice</li>

<li>2 Market Price</li>

<li>3 Weather</li>

<li>4 Workshops</li>

<li>5 Expert Help</li>

</ul>

</div>

</div>

</div>

{% endblock %}