{% extends "base.html" %}

{% block title %}Farmer Dashboard{% endblock %}

{% block content %}

<div class="container mt-4">

<h2 class="mb-4">

👨‍🌾 Welcome {{ current_user.full_name }}

</h2>

<div class="row g-4">

<div class="col-md-4">

<div class="card shadow">

<div class="card-body text-center">

<h3>🌦</h3>

<h5>Weather</h5>

<p>Today's Weather Advisory</p>

<a href="/weather"

class="btn btn-success">

Open

</a>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card shadow">

<div class="card-body text-center">

<h3>🌱</h3>

<h5>Crop Recommendation</h5>

<p>AI Crop Suggestion</p>

<a href="/crop"

class="btn btn-success">

Open

</a>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card shadow">

<div class="card-body text-center">

<h3>🌍</h3>

<h5>Soil Analysis</h5>

<p>Upload Soil Image</p>

<a href="/soil"

class="btn btn-success">

Open

</a>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card shadow">

<div class="card-body text-center">

<h3>🦠</h3>

<h5>Disease Detection</h5>

<p>Detect Crop Diseases</p>

<a href="/disease"

class="btn btn-success">

Open

</a>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card shadow">

<div class="card-body text-center">

<h3>📈</h3>

<h5>Market Prices</h5>

<p>Today's Mandi Rates</p>

<a href="/market"

class="btn btn-success">

Open

</a>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card shadow">

<div class="card-body text-center">

<h3>💰</h3>

<h5>Profit Analysis</h5>

<p>View Income</p>

<a href="/profit"

class="btn btn-success">

Open

</a>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card shadow">

<div class="card-body text-center">

<h3>🔔</h3>

<h5>Notifications</h5>

<p>Latest Updates</p>

<a href="/notifications"

class="btn btn-success">

Open

</a>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card shadow">

<div class="card-body text-center">

<h3>👨‍🔬</h3>

<h5>Experts</h5>

<p>Consult Experts</p>

<a href="/experts"

class="btn btn-success">

Open

</a>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card shadow">

<div class="card-body text-center">

<h3>🎓</h3>

<h5>Workshops</h5>

<p>Upcoming Workshops</p>

<a href="/workshops"

class="btn btn-success">

Open

</a>

</div>

</div>

</div>

</div>

</div>

{% endblock %}