{% extends "base.html" %}

{% block title %}Notifications{% endblock %}

{% block content %}

<div class="container mt-5">

<div class="card shadow">

<div class="card-header bg-primary text-white">

<h3>

🔔 Notifications

</h3>

<p>

Unread :

{{ unread }}

</p>

</div>

<div class="card-body">

{% if notifications %}

<ul class="list-group">

{% for n in notifications %}

<li class="list-group-item">

<strong>

{{ n.type }}

</strong>

<br>

{{ n.message }}

<br>

<small>

{{ n.created_at }}

</small>

</li>

{% endfor %}

</ul>

{% else %}

<p>

No Notifications

</p>

{% endif %}

</div>

</div>

</div>

{% endblock %}